{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins" : [
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "hooks": "./src/popup/hooks",
        "components": "./src/popup/components",
        "containers": "./src/popup/containers",
        "utils": "./src/popup/utils",
      }
    }]
  ]
}